@media (max-width: 1399.98px) {
  .fs-80 {
    font-size: 6rem !important;
  }
  .fs-70 {
    font-size: 6rem !important;
  }
  .fs-60 {
    font-size: 5rem !important;
  }
  .fs-50 {
    font-size: 4.5rem !important;
  }
}

@media (max-width: 991.98px) {
  .headerMain {
    background-color: var(--textColorWhite) !important;
  }
  .homeBanner {
    margin-top: 0;
    padding-top: 7rem;
  }

  .fs-80 {
    font-size: 4.5rem !important;
  }
  .fs-70 {
    font-size: 4.5rem !important;
  }
  .fs-60 {
    font-size: 4rem !important;
  }
  .fs-50 {
    font-size: 4rem !important;
  }
}

@media (max-width: 767.98px) {
  .breadcrumbArea {
    min-height: 30rem;
  }
  .contactFormArea {
    padding: 3rem !important;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 55%;
  }
}
