:root {
  /* colors */
  --themeColor: rgb(9, 152, 230);
  --themeColorDark: rgb(54, 96, 217);
  --textColor: #0e264f;
  --textColorLight: #777777;
  --textColorLight2: #b2c0d8;
  --textColorLight3: #f8f8f8;
  --textColorLight4: #f6f8fc;
  --textColorDark: #00173c;
  --textColorDark2: #08162f;

  --textColorWhite: #ffffff;
  --textColorBlack: #000000;

  /* font */
  --fontPoppins: "Poppins", sans-serif;
  --fontRoboto: "Roboto", sans-serif;
}
